In [3]:
import pandas as pd
import numpy as np

In [4]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
# zip is used for make a pair
# list() makes a list which is iteratable
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [5]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [6]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [8]:
df = pd.DataFrame(np.random.randn(6,2),hier_index,['A','B'])

In [9]:
df

             A         B
G1 1 -0.350479 -0.502294
   2 -0.121394 -0.696960
   3  0.791668 -0.668871
G2 1 -0.521399 -0.705815
   2  0.763750 -0.739030
   3  0.873805 -0.179049

In [10]:
d = {'A':[1,2,np.nan]}

In [11]:
d

{'A': [1, 2, nan]}